/* below line is write to use google font online */
@import url(http://fonts.googleapis.com/css?family=Ubuntu);
 
div#main{
width: 800	px;
height: 700px;
margin:0px auto;
font-family: 'Ubuntu', sans-serif;

}
 
div#form_sample{
margin-left:40%;

text-align:center;
border: 1px solid #ccc;
width: 300px;
padding: 5px 50px 15px;

margin-top:75px;
box-shadow: 0 0 15px;
border-radius: 6px;
float:center;
}
 
#main h2{
margin-top:50px;
margin-left:20px;
}
 
hr{
margin-top:-10px;
}
 
label{
float: left;
font-size: 16px;
}
 
input[type="text"]{
width:100%;
margin-top:10px;
height: 35px;
margin-bottom: 25px;
padding:10px;
border:3px solid #2BC1F2;
}
 
textarea{
width:100%;
border:3px solid #2BC1F2;
padding:10px;
margin-bottom: 25px;
margin-top: 10px;
height: 100px;
}
 
input[type="submit"]{
width:100%;
padding: 10px 45px;
background-color: #2BC1F2;
border: none;
color: white;
font-size: 18px;
font-weight: bold;
cursor: pointer;
font-family: 'Ubuntu', sans-serif;
}
